/*
    Mixins, variables, etc
*/

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}


/*
    Layout
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header, footer, article, nav, aside { display: block; }

.content {
  @include flexbox();
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 40px;
}

.content > header {
  @include flex(1 100%);
}

#main {
  @include flex(1 1 52%);
  @include order(2);
  margin: 0 4%;
}

.content > nav {
  @include flex(1 6 12%);
  @include order(1);
}

.content > aside {
  @include flex(1 6 20%);
  @include order(3);
}
