/*
    Mixins, variables, etc
*/

$main-color:    tomato;
$article-color: gold;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}


/*
    Layout
*/

body {
  margin: 0;
  padding: 0;
  min-width: 800px;
}

header, footer, article, nav, aside { display: block; }

.content {
  @include flexbox();
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  align-itmes: baseline;
  margin: 0 40px;
}

.content > header {
  @include flex(1 100%);
}

#main {
  @include flex(1 1 52%);
  @include order(2);
  margin: 0 4%;
}

#main article {
  margin: 0 auto;
  max-width: 600px;
}

.content > nav {
  @include flex(1 6 12%);
  @include order(1);
}

.content > aside {
  @include flex(1 6 20%);
  @include order(3);
}

.content > footer {
  @include flex(1 100%);
  @include order(4);
}


/*
    Typography
*/

body {
  font-family: sans-serif;
  line-height: 1.6em;
}

h1 {
  font-weight: 300;
  letter-spacing: -1px;
}


/*
    Small & Large Screens
*/

@media all and (min-width: 1400px) {

  #main article {
    font-size: 1.2em;
    line-height: 1.8em;
    max-width: 710px;
  }

  article > p {
    margin-top: 9px;
  }
}


/*
    Additional
*/

.colored { background: $main-color; }

#main article.colored { background: $article-color; }

#toggle-grid {
  margin: 0;
  width: 150px;
}
